.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #465571;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-btn {
 background-color: aliceblue;
 color: black;
 border: none;
 border-radius: 10px;
 height: 400%;
 margin-left: 20px;
 font-size: 18px;
}

.vista-card2{
  background-color: #dccb75;
  margin-top: 90px;
  margin-bottom: 120px;
}

.vista-card1{
  margin-top: 90px;
  margin-bottom: 120px;
}

.img-nav{
  width: 300px;
  margin-left: 250%;
}

.vista-pokemones{
  background-color: #dccb75;
}